@model SpartaIMSEng24.Models.Cohort

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cohort</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CohortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CohortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CohortNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CohortNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CohortID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
