@model SpartaIMSEng24.Models.SpartanUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpartanUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cohort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cohort.CohortID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobRole.JobRoleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpartanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
